.button {
  padding: 25px 43px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  color: $color-base-black;
  border: 2px solid $color-base-black;
  cursor: pointer;
}

.button:hover {
  color: $color-base-white;
  background-color: $color-hover-gradient;
}

.button:focus {
  color: $color-base-white;
  background-color: $color-hover-gradient;
  outline: 2px solid $color-focus;
  border: none;
}

.button:active {
  color: $color-base-white;
  background-color: $color-hover-gradient;
  border: none;
}

button:disabled {
  opacity: 0.3;
}



/*/добавить класс с модификатором --disabled
//для отключения ссылки

.footer__link--disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.4;
}*/