.button {
  padding: 25px 47px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: $color-base-black;
  border: 2px solid $color-background-dark;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: $color-hover;
  outline: none;
}

.button:active {
  background-color: $color-active;
}

button:disabled {
  background-color: $color-disabled;
}
