.date__name {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px solid;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 2px;
    padding-bottom: 1px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 5px;
    padding-bottom: 6px;
  }
}

.date__content {
  display: flex;
  gap: 3px;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    gap: 5px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.date__time {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  align-self: center;

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.date__info {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;


  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }
}
