.faq__wrapper {
  @include wrapper-size;

  padding: 70px 15px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 60px 45px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 100px 103px;
  }
}

.faq__container {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 40px;
  }
}

.faq__title {
  margin-top: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 50px;
    text-align: left;
  }
}

.faq__topic-list {
  @include list-reset;

  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 10px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(4, 162px);
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 260px;
    grid-template-rows: repeat(4, 54px);
  }
}

.faq__topic-button {
  width: 100%;
  padding: 14px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: none;
  border: 1px solid rgba(16, 38, 84, 0.2);

  @media (min-width: $tablet-width) {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 18px;
    line-height: 18px;
  }
}

.faq__topic-button--active {
  color: $color-base-white;
  border: none;
  padding: 15px 20px;
  background: $color-hover-gradient;
  cursor: default;

  @media (min-width: $tablet-width) {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.faq__topic-button:hover,
.faq__topic-button:focus {
  color: $color-base-black;
  border: 1px solid $color-base-black;
}

.faq__topic-button:active {
  color: $color-base-white;
  border: none;
  padding: 15px 20px;
  background: $color-hover-gradient;

  @media (min-width: $tablet-width) {
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

.faq__topic-button:disabled {
  color: #c8c9cc;
  border: 1px solid rgba(16, 38, 84, 0.2);
}

.faq__topic-button--active:focus {
  color: $color-base-white;
  padding: 14px 20px;
  border: 1px solid $color-base-black;
}

.faq__topic-button--active:hover {
  border: none;
  color: $color-base-white;
}

.faq__accordion {
  @media (min-width: $desktop-width) {
    width: 860px;
  }
}

.faq__questions-item {
  padding: 20px 0;
  border-top: 1px solid #74819c;
  transition: 0.5s;
  overflow: hidden;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 33px 0 31px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 0 31px;
  }
}

.faq__questions-item[open] {
  padding-bottom: 80px;

  @media (min-width: $tablet-width) {
    padding-bottom: 82px;
  }
}

.faq__questions-item:last-child {
  border-bottom: 1px solid #74819c;

  @media (min-width: $tablet-width) {
    padding: 23px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 31px 0;
  }
}

.faq__questions-item:last-child[open] {
  @media (min-width: $tablet-width) {
    padding-bottom: 82px;
  }
}

.faq__questions-item summary {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  padding-right: 40px;
  display: block;
  cursor: pointer;
  position: relative;

  &::marker {
    display: none;
  }

  &::before,
  &::after {
    top: 50%;
    left: 268px;
    right: 0;
    background-color: $color-background-dark;
    width: 14px;
    height: 1px;
    content: "";
    position: absolute;
    transition: transform 0.5s;
  }

  &::after {
    transform: rotate(90deg);
    background-color: $color-background-dark;
  }

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 22px;
    padding-right: 95px;

    &::before,
    &::after {
      width: 20px;
      left: 648px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 24px;

    &::before,
    &::after {
      left: 830px;
    }
  }
}

.faq__questions-item summary:focus {
  outline: 0;
  color: $color-text-secondary;
}

.faq__questions-item[open] summary {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;
  }
}

.faq__questions-item[open] > summary::after {
  transform: rotateZ(180deg);
  background-color: $color-base-white;
}

.faq__questions-item span {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $color-background-dark;
    left: 275px;
    top: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 40px;
      height: 40px;
      left: 657px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 40px;
      height: 40px;
      left: 840px;
    }
  }
}

.faq__questions-item[open] span::before {
  background-color: $color-background-dark;
}

.faq__questions-item p {
  margin: 0;
  max-width: 238px;
  font-size: 16px;
  line-height: 20px;
  transition: width 0.4s;

  @media (min-width: $tablet-width) {
    max-width: 560px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 650px;
  }
}

.faq__questions-item p:not(:last-child) {
  margin-bottom: 8px;
}

.faq__answers {
  margin-bottom: -60px;
}
