.features__wrapper {
  @include wrapper__size;
  padding: 40px 15px;

 @media (min-width: $tablet-width) {
   justify-content: center;
   padding: 0;
 }

 @media (min-width: $desktop-width) {
   justify-content: start;
   padding-top: 20px;
 }
}

.features__title {
  margin-bottom: 40px;
}

.features__list {
  @include list__reset;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 35px;
}

.features__item span {
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  background: linear-gradient(127.61deg, #D10A42 0%, #0041CA 45.58%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features__item span + p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2e35ac;
}

.features__item h3 {
  margin: 12px 0;
}

.features__item h3 + p {
  margin: 0;
  padding: 0 30px;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: $color-base-black;
}

.features__item h3 + p:not(:last-child) {
  margin-bottom: 8px;
}

.features__content {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: $color-background-dark;
  color: $color-base-white;
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 800%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: $color-background-dark;
  }

  &::after {
    left: 0;
  }
}

.features__content span {
  -webkit-text-fill-color: $color-base-white;
}

.features__content h3 + p {
  color: $color-base-white;
}