.juri__wrapper-slider {
  @include wrapper__size;
  padding: 40px 15px;

 @media (min-width: $tablet-width) {
   justify-content: center;
   padding: 0;
 }

 @media (min-width: $desktop-width) {
   justify-content: start;
   padding-top: 20px;
 }
}

.juri__title {
  margin-bottom: 20px;
}