.juri__wrapper {
  @include wrapper__size;
    padding: 40px 30px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 30px 45px 60px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 100px 48px;
  }
}

.juri__title {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
    font-size: 54px;
    line-height: 54px;
  }
}

.juri__swiper {
  @media (min-width: $tablet-width) {
    width: 560px;
  }

  @media (min-width: $desktop-width) {
    width: 1160px;
  }
}

.juri__container {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.juri__buttons {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.juri__button {
  margin: 0;
  position: absolute;
  content: "";
  width: 59px;
  height: 100%;
  border: none;
  top: 0;

  &::after {
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 50px;

    &::after {
      font-weight: 300;
      font-size: 32px;
      line-height: 32px;
    }
  }
}

.juri__button-next {
  right: 0;
  padding-left: 37px;
  padding-right: 6px;
}

.juri__button-prev {
  left: 0;
  padding-left: 6px;
  padding-right: 37px;
}

.juri__button:hover {
  color: $color-base-black;

  &::after {
    outline: 1px solid $color-base-black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 9px 17px;
  }
}

.juri__button:focus {
  color: $color-base-black;
  outline: none;

  &::after {
    outline: 1px solid $color-base-black;
    background-color: #e8e8e8;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 9px 17px;
  }
}

.juri__button:active {
  color: $color-base-white;

  &::after {
    background-color:  $color-base-black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 9px 17px;
  }
}

.juri__button:disabled {
  color: $color-base-black;
  opacity: 0.3;
}
