.offers__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin: 0 auto;
    padding: 60px 45px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 100px 103px;
  }
}

.offers__container {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 40px;
  }
}

.offers__title {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 70px;
  }
}

.offers__container-price {
  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.offers__price {
  padding: 30px 0 36px;
  text-align: center;
  background-color: $color-banner;
  color: $color-base-white;
  display: flex;
  flex-direction: column;
  gap: 28px;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding: 40px 25px 46px;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 45px 46px;
  }
}

.offers__price h3 {
  margin: 0 auto 9px;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  width: 260px;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-bottom: 20px;
    width: 228px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
    width: 190px;
  }
}

.offers__price span {
  margin: 0 auto;
  display: block;
  word-break: break-all;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  width: 260px;

  @media (min-width: $tablet-width) {
    font-size: 70px;
    line-height: 70px;
    width: 228px;
  }

  @media (min-width: $desktop-width) {
    width: 190px;
  }
}

.offers__price div {
  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.offers__price p {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  width: 260px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    width: 228px;
  }

  @media (min-width: $desktop-width) {
    width: 190px;
  }
}

.offers__price div:nth-child(2) {
  @media (min-width: $tablet-width) {
    margin-bottom: 162px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 156px;
  }
}

.offers__price p:not(:last-child) {
  margin-bottom: 8px;
}

.offers__button {
  padding: 0;
  margin: 0 auto;
  color: $color-base-white;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  border: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background-color: $color-base-white;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    align-self: flex-start;
  }
}

.offers__button:hover {
  opacity: 0.8;
}

.offers__button:focus {
  outline: 1px solid $color-base-white;
  outline-offset: 10px;
  border: none;

  &::after {
    display: none;
  }
}

.offers__button:active {
  color: $color-base-white;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: 1;
}

// добавить класс с модификатором --disabled
// для отключения ссылки
.offers__button--disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.offers__image-wrapper {
  @media (min-width: $desktop-width) {
    width: 280px;
  }
}

.offers__image-wrapper img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.offers__card {
  @include wrapper-size;

  padding: 0 15px;

  @media (min-width: $tablet-width) {
    width: 678px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-end;
  }
}

.offers__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: end;
  }
}

.offers__item {
  text-align: center;
  border: 7px solid transparent;
  border-image-source: $color-focus-card;
  border-image-slice: 1;
  padding: 20px;
  color: $color-background-dark;

  @media (min-width: $tablet-width) {
    width: 324px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
  }
}

.offers__content {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-bottom: 28px;
    min-height: 84px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
    min-height: auto;
  }
}

.offers__content h3 {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 10px;
  }
}

.offers__content p {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.offers__item p:not(:last-child) {
  margin-bottom: 8px;
}

.offers__button--dark {
  padding-bottom: 2px;
  color: $color-background-dark;
  border-bottom: 1px solid #74819c;
}

.offers__button--dark:hover {
  color: $color-background-dark;
}

.offers__button--dark:focus {
  color: $color-background-dark;
  outline: 1px solid $color-background-dark;
}

.offers__button--dark:active {
  color: $color-background-dark;
  border: none;
  outline: none;
  border-bottom: 1px solid $color-background-dark;
}

.offers__button--dark:disabled {
  color: $color-background-dark;
  opacity: 0.3;
}
