.price {
  background-color: $color-background-light;
}

.price__wrapper {
  @include wrapper__size;
  padding: 40px 15px;

  @media (min-width: $tablet-width) {
    justify-content: center;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    padding-top: 20px;
  }
}

.price__title {
  margin-bottom: 30px;
}

.price__filter {
  margin-bottom: 30px;
}
