.price {
  background-color: $color-background-light;
}

.price__wrapper {
  @include wrapper__size;
  padding: 40px 15px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 60px 194px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 100px 103px;
  }
}

.price__title {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    font-size: 54px;
    line-height: 54px;
  }
}

.price__filter {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}
