.slider__content {
  position: relative;
}

.slider__title {
  margin: auto;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: $color-base-white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
}

.slider__image {
  width: 260px;
  height: 300px;
}

.slider__image img {
  display: block;
  width: 260px;
  height: 300px;
}

.slider__skills {
  display: none;
  max-width: 160px;
  position: absolute;
  color: $color-base-white;
  top: 77px;
  left: 50px;
  z-index: 2;
}

.slider__skills-speciality {
  font-family: 16px;
  line-height: 24px;
  margin-bottom: 34px;
  text-align: center;
}

.slider__skills-list {
  @include list__reset;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 160px;
}

.slider__skills-item {
  font-weight: 400;
  padding-left: 16px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $color-base-white;
    left: 0;
    top: 5px;
    z-index: 2;
  }
}

.slider__content:focus {
  outline: none;

  &::before {
    position: absolute;
    content: '';
    width: 260px;
    height: 300px;
    background-color: $color-base-black;
    opacity: 0.89;
  }
}

.slider__content:focus .slider__title {
  bottom: 0;
  top: 46px;
}

.slider__content:focus .slider__skills {
  display: block;
}
